@charset "UTF-8";
@import "../libs/normalize-css/normalize.css";
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.ttf");
  font-weight: medium;
}
h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #828282;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.article-title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.article-subtitle {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.article-text {
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  font-family: "Gilroy-Bold";
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.active-link {
  color: #070707;
}

.main-header__line {
  border-bottom: 1px solid #828282;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.main-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 135px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: "Gilroy-Bold";
  margin-bottom: 54px;
}

.main-promo__logo h1 {
  font-size: 47.3392px;
  line-height: 59px;
}

.main-promo__info h1 {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
}

.main-promo__lang h1 {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

.header-img {
  min-height: 387px;
  background-size: cover;
  background-position: center;
  margin-bottom: 104px;
}

.AboutMe {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AboutMe-title {
  margin-top: 120px;
  margin-bottom: 35px;
}

.AboutMe-subtitle {
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 115px;
}

.Skills-title {
  margin-top: 90px;
  margin-bottom: 85px;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 207px;
  margin-bottom: 110px;
}

.Skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Skills-img {
  margin-bottom: -20px;
}