@font-face {
    font-family: 'Gilroy-Bold';
    src: url("../fonts/Gilroy-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url("../fonts/Gilroy-Medium.ttf");
    font-weight: medium;
}